<!DOCTYPE html>
<html>
<head>
  <title>RightnowOms</title>
  <%= stylesheet_link_tag    "rightnow_oms/application" %>
  <%= javascript_include_tag "rightnow_oms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
