<h1>Products</h1>

<div id="cart"></div>

<ul>
  <% @products.each do |p| %>
    <li>
      <p>Name: <%= p.name %></p>
      <p>Price: <%= p.price %></p>
      <p><a id="<%= p.id %>" href="#">Add to cart</a></p>
    </li>
  <% end %>
</ul>
