#content
  #rightnow-oms{ class: 'mini-cart' } 
    %script{ type: 'text/x-handlebars'}
      {{ view RightnowOms.ShowCartView }}
  #operations
    %button.discount All Cart Items 50% Off
    %button.increase All Cart Items +1
    %button.decrease All Cart Items -1
    - p = Product.roots.where(group: "Instant")
    %button.group-btn{ info: p.to_json } Add All Products in Instant Group

  #products
    %h1 Product List
    %ul
      - @products.each do |p|
        = render partial: 'products/list_products', locals: { product: p }

:javascript
  $(function() {
    RightnowOms.cartController.load(#{@cart.as_api_response(:default).to_json.html_safe});

    $('.buy-btn').click(function() {
      var productInfo = $.parseJSON($(this).attr('info'));

      var item = {
        cartable_id: productInfo.id,
        cartable_type: 'Product',
        group: productInfo.group,
        children: []
      }
      for(var i = 0; i < productInfo.child_ids.length; i++) {
        item.children.push({
          cartable_id: parseInt(productInfo.child_ids[i]),
          cartable_type: 'Product',
          group: productInfo.group,
        })
      }

      RightnowOms.cartController.addCartItem(item);
    });

    $('.buy-unmergable').click(function() {
      var productInfo = $.parseJSON($(this).attr('info'));

      var item = {
        cartable_id: productInfo.id,
        cartable_type: 'Product',
        mergable: false,
        group: productInfo.group,
        children: []
      }
      for(var i = 0; i < productInfo.child_ids.length; i++) {
        item.children.push({
          cartable_id: parseInt(productInfo.child_ids[i]),
          cartable_type: 'Product',
          mergable: false,
          group: productInfo.group,
          })
        }

      RightnowOms.cartController.addCartItem(item);
    });

    $('.discount').click(function() {
      var cartItems = RightnowOms.cartController.getPath('content.cart_items');

      cartItems.forEach(function(item) {
        RightnowOms.cartController.updateCartItem(item.get('id'), {
          'price': 0.5 * item.get('price')
        });
      });
    });

    $('.increase').click(function() {
      var cartItems = RightnowOms.cartController.getPath('content.cart_items');

      cartItems.forEach(function(item) {
        if (!item.get('hasParent')) {
          RightnowOms.cartController.increaseCartItem(item.get('id'))
        }
      });
    });

    $('.decrease').click(function() {
      // For test only
      var cartItems = RightnowOms.cartController.getPath('content.cart_items');

      cartItems.forEach(function(item) {
        if (!item.get('hasParent')) {
          RightnowOms.cartController.decreaseCartItem(item.get('id'))
        }
      });
    });

    $('.group-btn').click(function() {
      var products = $.parseJSON($(this).attr('info'));

      for(var i = 0; i < products.length; i++) {
        var item = {
          cartable_id: products[i].id,
          cartable_type: 'Product',
          group: products[i].group,
          children: []
        }

        RightnowOms.cartController.addCartItem(item);
      }
    });

  })
