/*
 *= require_self
 *= require_tree . 
*/

.r-clear { clear: both; }
.r-money { color: red; }
.r-right { float: right }
.r-left { float: left }
h3 {
  background-color: #ddd;
  border-bottom: 3px solid #aaa;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 27px;
}
p { background-color: whiteSmoke; }
