.r-links {
  a {
    color: black;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}


.r-cart-items {
  @extend .r-links;
  width: 100%;
  max-width: 940px;
  min-width: 285px;
  font-size: 12px;
  background-color: white;
  div.r-clear {
    float: none;
  }


  ul {
    text-align: left;
    list-style-type: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;

    li {
      padding: 12px 8px;
      float: left;
    }
    li.others {
      float: right;
      div {
        float: left;
      }

      div.price {
        width: 100px;
      }

      div.quantity {
        width: 100px;
        span {
          border: 1px solid #CCC;
          float: left;
          display: block;
          width: 14px;
          text-align: center;
        }
        span.decrease { margin-right: -1px; }
        span.increase { margin-left: -1px; }
        span.quantity { width: 30px; }
        span.quantity-only { width: 60px; }
      }
      div.subtotal { width: 85px; }
      div.delete { width: 30px; }
    }
  }

  ul.title {
    font-size: 16px;
    font-weight: bold;
    li.price {
      text-align: left;
    }
  }

  dl {
    margin: 0;
    dt, dd {
      margin: 0;
      border-top: 1px solid #ccc;
    }
    dt ul {
      li.name { cursor: pointer; }
    }
    dd {
      background-color: #EEE;
      ul {
        li.name { padding-left: 20px; }
      }
    }
  }

  .r-bottom-bar {
    float: right;
    padding: 5px 10px;
    span { margin: 2px; }
  }
}

.r-detailed-cart {
  position: relative;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  font-size: 12px;
  background-color: white;

  h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .r-cart-items {
    @extend .r-cart-items;
  }

  .r-bottom-bar {
    margin-top: 30px;
    position: relative;
    width: 100%;
    font-size: 20px;
    line-height: 36px;
    span { padding: 8px; }
    .left-conner {
      float: left;
      text-align: left;
    }
    .right-conner {
      float: right;
      width: 550px;
      text-align: right;
    }
  }
}

.r-mini-cart {
  @extend .r-links;
  position: relative;
  color: black;
  font-size: 12px;
  .r-cart-cartable-count {
    a {
      background: url('cart.png') no-repeat left center;
      padding-left: 20px;
      line-height: 16px;
    }
    padding: 5px 10px;
    width: 120px;
    text-align: center;
    border: 1px solid #ccc;
  }

  .r-cart-items {
    @extend .r-cart-items;
    position: absolute;
    top: 28px;
    right: 0px;
    display: none;
    float: left;
    margin-top: -1px;
    border: 1px solid #ccc;
    background-color: white;
    display: none;
    z-index: 9999;

    dl > dt, dd {
      border-top: none;
    }

    li.others div.price {
      width: 50px;
      margin-right: 12px;
    }
    li.others > div.delete {
      width: 30px;
    }
  }
  .r-bottom-bar {
    float: right;
    padding: 5px 10px;
    span { margin: 2px; }
    width: 180px;
    text-align: right;
  }
}
