/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#shopping-cart table .subtotal {
  text-align: right;
  color: red;
}

#shopping-cart table .total-price {
  text-align: right;
  color: red
}

#shopping-cart table .price {
  color: red;
}

#shopping-cart table .quantity {
  width: 30px;
}
