.detailed-cart {
  table {
    .subtotal {
      text-align: right;
      color: red;
    }
    .total-price {
      text-align: right;
      color: red;
    }
    .price {
      color: red;
    }
    .quantity {
      text-align: center;
    }
    a {
      text-decoration: none;
    }
  }
}
