.r-links {
  a {
    color: black;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}
.r-mini-cart {
  @extend .r-links;
  position: relative;
  color: black;
  font-size: 12px;
  .r-cart-cartable-count {
    a {
      background: url('cart.png') no-repeat left center;
      padding-left: 20px;
      line-height: 16px;
    }
    padding: 5px 10px;
    width: 100px;
    text-align: center;
    border: 1px solid #ccc;
  }
  .r-cart-items {
    position: absolute;
    top: 28px;
    right: 0px;
    float: left;
    width: 285px;
    margin-top: -1px;
    border: 1px solid #ccc;
    background-color: white;
    display: none;
    z-index: 9999;
    dl {
      margin: 0px;
      width: 100%;
    }
    dl ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      border: 0px;
      width: 100%;
    }
    dl li{
      padding-top: 5px;
      padding-left: 8px;
      text-align: right;
      float: left;
    }
    dl li.name {
      width: 165px;
      text-align: left;
      cursor: pointer;
    }
    dl li.price {
      width: 50px;
    }
    dl li.delete {
      width: 30px;
    }
    ul.child {
      clear: both;
    }
    dd {
      margin-left: 12px;
    }
    dd li.price {
      margin-left: -12px;
    }
    dd li.name {
      cursor: default;
    }
  }
  .r-bottom-bar {
    float: right;
    padding: 5px 10px;
    span { margin: 2px; }
  }
}
.r-detailed-cart {
  @extend .r-links;
  position: relative;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  font-size: 12px;
  background-color: white;

  h2 {
    font-size: 24px;
    line-height: 36px;
  }

  ul {
    text-align: left;
    list-style-type: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;

    li {
      padding: 12px 8px;
      float: left;
    }
    li.others {
      float: right;
      div {
        float: left;
      }

      div.price {
        width: 100px;
      }

      div.quantity {
        width: 100px;
        span {
          border: 1px solid #CCC;
          float: left;
          display: block;
          width: 14px;
          text-align: center;
        }
        span.decrease { margin-right: -1px; }
        span.increase { margin-left: -1px; }
        span.quantity { width: 30px; }
        span.quantity-only { width: 60px; }
      }
      div.subtotal { width: 85px; }
      div.delete { width: 50px; }
    }
  }

  ul.title {
    font-size: 16px;
    font-weight: bold;
    li.price {
      text-align: left;
    }
  }

  dl {
    margin: 0;
    dt, dd {
      margin: 0;
      border-top: 1px solid #CCC;
    }
    dt ul {
      li.name { cursor: pointer; }
    }
    dd {
      background-color: #EEE;
      ul {
        li.name { padding-left: 20px; }
      }
    }
  }

  .r-bottom-bar {
    margin-top: 30px;
    position: relative;
    width: 100%;
    font-size: 20px;
    line-height: 36px;
    span { padding: 8px; }
    .left-conner { float: left; }
    .right-conner { float: right; }
  }
}
